/*
File Name: 		custom.css
Description:  You can add your custom CSS here and it will overwrite template styles
*/

.image-responsive-width {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post--single .post__meta {
    margin-bottom: 0;
}

.no-border {
    border: none!important;
}

.licnostHover,
.nagradaHover,
.historyHover,
.terenHover,
.balonCjenovnikHover,
.stazeHover,
.skiCjenovnikHover{
    position: relative;
    margin-bottom: 15px;
}

.izbrisiLicnost,
.izbrisiNagradu,
.izbrisiHistory,
.izbrisiTeren,
.izbrisiBalonCjenovnik,
.izbrisiStazu,
.izbrisiSkiCjenovnik{
    font-size: 20px;
    opacity: 0;
    transition: 0.2s opacity ease-in;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 100;
}

.licnostHover:hover .izbrisiLicnost,
.nagradaHover:hover .izbrisiNagradu,
.historyHover:hover .izbrisiHistory,
.terenHover:hover .izbrisiTeren,
.balonCjenovnikHover:hover .izbrisiBalonCjenovnik,
.stazeHover:hover .izbrisiStazu,
.skiCjenovnikHover:hover .izbrisiSkiCjenovnik{
    opacity: 1;
}

.izbrisiLicnost:hover,
.izbrisiNagradu:hover,
.izbrisiHistory:hover,
.izbrisiTeren:hover,
.izbrisiBalonCjenovnik:hover,
.izbrisiStazu:hover,
.izbrisiSkiCjenovnik:hover{
    color: #f49222;
}

.btn-spasi {
    color: #fff;
    background-color: #f49222;
    border: 1px solid #c5751a;
    font-family: "Fira sans", serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 20px;
}

.overscreen {
    z-index: 1000!important;
}

.input-group-addon {
    border: 0;
}

.not-visible{
    visibility: hidden!important;
    width: 0!important;
    height: 0!important;
}

label {
    white-space: normal;
}

.search-input-disabled {
    background: repeating-linear-gradient(-55deg,rgba(34, 34, 34, 0.1),rgba(34, 34, 34, 0.1) 10px,rgba(70, 70, 70, 0.2)10px,rgba(70, 70, 70, 0.2) 20px)!important;
}

.post-filter__select {
    padding: 20px;
    border: 1px solid #e5e5e5;
}

.post-filter__select .post-filter__label {
    position: relative;
    display: block;
    top: auto;
    left: auto;
}

.post-filter__select select {
    position: relative;
    display: block;
    border: 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-bottom: none;
    border-top: none;
    transition: background 0.2s, border-color 0.2s;
    font-family: "Fira sans", serif;
    text-transform: none;
}

.post-filter__select select:focus {
    border: 0;
    outline: 0;
}