/*
File Name: 		custom.css
Description:  You can add your custom CSS here and it will overwrite template styles
*/

.image-responsive-width {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post--single .post__meta {
    margin-bottom: 0;
}

.no-border {
    border: none!important;
}

.licnostHover,
.nagradaHover,
.historyHover {
    position: relative;
    margin-bottom: 15px;
}

.izbrisiLicnost,
.izbrisiNagradu,
.izbrisiHistory {
    font-size: 20px;
    opacity: 0;
    transition: 0.2s opacity ease-in;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 100;
}

.licnostHover:hover .izbrisiLicnost,
.nagradaHover:hover .izbrisiNagradu,
.historyHover:hover .izbrisiHistory {
    opacity: 1;
}

.izbrisiLicnost:hover,
.izbrisiNagradu:hover,
.izbrisiHistory:hover {
    color: #f49222;
}

.btn-spasi {
    color: #fff;
    background-color: #f49222;
    border: 1px solid #c5751a;
    font-family: "Fira sans", serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 20px;
}

.overscreen {
    z-index: 1000!important;
}

.input-group-addon {
    border: 0;
}

.not-visible{
    visibility: hidden!important;
    width: 0!important;
    height: 0!important;
}

label {
    white-space: normal;
}